/* notice */

.content4 {

}


h4{
  float: right;
}
.notice{
  width: 588px;
  position: relative;
  
}
.notice > a{
  position: absolute;
  top:0;
  right: 0;
  margin-bottom: 18px;
  
}
.notice ul {
  margin-bottom: 20px;
  border-top: 2px solid #929898;
}



















/* footer */
footer {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

/* .f2 {
  background-color: #292c2e;
  height: 463px;
}

footer .logo {
  margin-top: 54px;
}  */
