css

/* 이벤트 */
.content > .event {
  float: left;
}
.content > .notice {
  float: right;
}
.event {
  position: relative;
  float: left;
  width: 624px;
  height: 378px;
}

.event-slide {
  width: 100%;
  height: 100%;
  transition: left 0.3s ease-in;
}

.event-slide > li {
  position: absolute;
  top: 0;
  left: 0;
}

.event > img {
  object-fit: cover;
}

.pager {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  display: fixed;
}
.pager a {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  text-indent: -9999px;
  display: inline-block;
}
.pager a + a {
  margin-left: 5px;
}

.pager a.active {
  background: #fff;
}

/* 공지사항 */

.notice {
  width: 588px;
  position: relative;
  float: right;
  margin-top: 28px;
}

/* 공지사항 글씨 */
.notice h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* MORE VIEW+ */
.notice > a {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  top: 10px;
  right: 0;
}
/* notice의 내용*/
.notice ul > li > a > h4 {
  float: right;
  margin-right: 10px;
}

/* notice 선*/
.notice ul {
  border-top: 2px solid #929898;
}

.notice ul li {
  border-bottom: 1px solid rgba(146, 152, 152, 0.7);
  line-height: 50px;
}
/* 날짜 */
.date {
  float: left;
  margin: 0 10px;
  color: #929898;
}

/* footer */

footer {
  font-size: 14px;
  text-align: center;
  padding: 67.5px 0 0 0;
  display: fixed;
}

.ft-con1 {
  vertical-align: baseline;
  border-top: 1px solid rgba(146, 152, 152, 0.5);
  border-bottom: 1px solid rgba(146, 152, 152, 0.5);
}
.ft-con1 ul {
  display: inline-block;
  line-height: 81px;
}
.ft-con1 li {
  position: relative;
  float: left;
}
.ft-con1 li + li {
  margin-left: 74px;
}

.ft-con1 ul li::after {
  content: "";
  width: 1px;
  height: 13px;
  background: rgba(146, 152, 152, 0.5);
  position: absolute;
  top: 33px;
  left: -35px;
}

.ft-con1 ul li:first-child:after {
  background: none;
}

.ft-con2 ul {
  line-height: 81px;
}

.ft-con2 li {
  display: inline-block;
  padding: 0 60px 0 60px;
}

.ft-con2 i {
  color: #929898;
  font-size: 17px;
  padding: 0 7px 0 0px;
}

.ft-container2 {
  background-color: #2d2d2d;
  height: 513px;
}

.ftt-con4 {
  padding: 54px 0 54px 0;
}

.ftt-con4 ul {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px 0 30px 0;
}

.ftt-con4 li {
  display: inline-block;
  padding: 0 30px 0 30px;
}
.ftt-con4 ul > li > a {
  color: #ffffff;
}

.ft-nav4 address,
.ft-nav4 p {
  line-height: 21px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.logo {
  margin-top: 54px;
}

/* .ft-icon a {
  background-image: url("../images/set_footer/set_footer_360.png");
  width: 19px;
  height: 19px;
  background-color: #ffffff;
  display: inline-block;
  text-indent: -9999px;
  background-repeat: no-repeat;
} */

.ft-icon .youtube {
  background-image: url("../images/set_footer/set_footer_360.png");
  width: 20px;
  height: 19px;
  margin-right: 27px;
  background-color: #ffffff;
  display: inline-block;
  text-indent: -9999px;
  background-position: 0 -50px;
}
.ft-icon .twiiter {
  background-image: url("../images/set_footer/set_footer_360.png");
  width: 10px;
  height: 19px;
  margin-right: 27px;
  background-color: #ffffff;
  display: inline-block;
  text-indent: -9999px;
  padding: 0 5px;
  background-position: 0 -100px;
}
.ft-icon .facebook {
  background-image: url("../images/set_footer/set_footer_360.png");
  width: 10px;
  height: 19px;
  padding: 0 5px;
  background-color: #ffffff;
  display: inline-block;
  text-indent: -9999px;
  padding: 0 5px;
  background-position: 0 -150px;
}
