/* 배경색 지정 */
body{
    background: #ebebeb;
}


/* 추천게임 - 메인 */
.rec_search{
    margin: 27px auto;
}

.rec_hash{
    width: 100%;
    text-align:center;
    margin-bottom: 27px;
}
.rec_hash li{
    display: inline-block;
    margin-right: 27px;
    cursor: pointer;
}


/* 추천게임 - 해시태그(탭메뉴) */
.rec_hash-list li:hover{
    color: #0077ff;
}
/* .hash-content{
    
}
.hash-active{

} */


/* 추천게임 - 슬라이드 */
figure{
    position: relative;
    width: 370px;
    height: 378px;
}

.rec_game_tt{
    position: absolute;
    left: 10px;
    bottom: 58px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
}
.rec-emblem{
    position: absolute;
    right: 10px;
    bottom: 58px;
}

.rec_game_desc{
    position: absolute;
    bottom: 27px;
    left: 10px;
}

.slidewrapper{
    position: relative;
    height: 378px;
    overflow: hidden;
}
.slidewrapper ul{
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.slidewrapper ul li{
    float: left;
    padding-right: 10px;    /* offsetWidth를 위해 margin대신 padding */
    background: #fff content-box;

}

/* prev, next 버튼 */
.rec_slide-button > a{ 
    position: absolute;
    font-size: 45px;
    color: #ebebeb;
    top: 50%;
    transform:translateY(-50%);
    text-shadow:2px 2px 4px #000000;
}
.rec_slide-button .prev{
    /* right: calc(100% + 10px); */
    left: 0;
}

.rec_slide-button .next{
    /* left: calc(100% + 10px); */
    right: 0;
}
