@charset "utf-8";
@font-face {
  font-family: NEXON Gothic Regular;
  src: url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF.eot);
  src: url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF.eot#iefix)
      format("embedded-opentype"),
    url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF.woff)
      format("woff");
  font-weight: 300;
}
@font-face {
  font-family: NEXON Gothic Bold;
  src: url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.eot);
  src: url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.eot#iefix)
      format("embedded-opentype"),
    url(https://rs.nxfs.nexon.com/home/fonts/NEXON%20Lv1%20Gothic%20OTF%20Bold.woff)
      format("woff");
  font-weight: 400;
}
body {
  font-family: "NEXON Gothic", sans-serif;
  font-size: 16px;
  color: #2d2d2d;
}

a {
  color: #2d2d2d;
}
/* #wrap {
	min-width: 640px;
}
#wrap, #content {
	width: 100%;
}
.inner {
	max-width: 1580px;
	padding: 150px 30px;
	margin: 0 auto;
} */

/* common */
.cf::after {
  content: "";
  display: block;
  clear: both;
}
.bold {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;
}

.bf::before {
  content: "";
  display: block;
}
.header-tt {
  font-size: 20px;
  font-weight: bold;
}

/* Header _ 기서은 */
header {
  position: relative;
  width: 100%;
  height: 100%;
}
header .header_inner > *,
nav > ul > li,
.header-right ul li {
  float: left;
}
.header_inner {
  padding: 0px 125px;
  height: 135px;
  background-color: #2424;
  box-sizing: border-box;
}
header .header-right {
  float: right;
}

h1 > a {
  display: inline-block;
  width: 170px;
  height: 135px;
  text-indent: -9999px;
  margin-right: 50px;
  background: url(../images/logo.png) no-repeat center/contain;
}

nav > ul > li {
  position: relative;
  margin-right: 45px;
  font-size: 17px;
}
nav > ul > li > a,
.header-right {
  line-height: 135px;
}

.header-right ul li {
  margin-left: 30px;
  font-size: 14px;
}
nav .all_tab-menu > li {
  float: left;
}
nav .all_tab-menu > li + li {
  margin-left: 30px;
}

/* none */
.header_submenu,
#all-name {
  display: none;
}
/* block */
.header_submenu.on {
  display: block;
}

.header_submenu {
  position: absolute;
  width: 1100px;
  top: 100%;
  left: 0;
  height: 500px;
  margin-top: 27px;
  box-sizing: border-box;
}

.all_tab-content .all-type_box {
  float: left;
  margin-right: 108px;
}
.all_tab-content .all-type_box:last-child {
  margin-right: 0;
}
.all_tab-content {
  margin-top: 27px;
}
.all-type_box + .all-type_box ul {
  margin-bottom: 27px;
}
.all_tab-content ul li {
  margin-bottom: 6px;
  font-size: 14px;
}

.all_tab-menu > li > a,
.all_tab-content ul li a {
  color: #929898;
}


.genre_emblem {
  display: inline-block;
  border-radius: 14.5px;
  height: 27px;
  line-height: 23px;
  font-size: 14px;
  padding: 0px 10px;
  box-sizing: border-box;
}
.rpg {
  border: 2px solid #c96243;
  color: #c96243;
}
.box span + span {
  margin-top: 10px;
}